<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>HTTP Header Injection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/sign-in.css" rel="stylesheet">
</head>

<body class="text-center">
    <main class="w-200 m-auto">
        <img class="mb-4" src="../static/img/applausi.gif" alt="" width="600">

        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome {{ email }}</h1>
        </div>

    </main>

</body>

</html>