<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>HTTP Header Injection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://webserver/static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="http://webserver/static/styles/sign-in.css" rel="stylesheet">
</head>

<body class="text-center">
    <main class="form-signin w-200 m-auto">
        <img class="mb-4" src="http://webserver/static/img/logo.png" alt="" width="200">
        <h1 class="h5 mb-3 fw-normal">Press the following button to reset your password</h1>
        <a href="http://{{ domain }}/resetpasswordwithtoken?token={{ token }}" target="_blank">
            <button class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </a>
    </main>

</body>

</html>